<div  class="card bg-warning " style="border:4px solid white;">
  <div class="card-body" style="padding: 8px; margin-top: 8px">
    <div>
      <!-- Title -->
      <input type="text"
             [(ngModel)]="note.title"
             (change)="updateNote()"
             class="list-group list-group"/>
      <a (click)="deleteNote()" class="fa-pull-right text-danger">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <textarea class="input-label" style="width: 100%"
              rows="6"
              (change)="updateNote()"
              [(ngModel)]="note.text">
                </textarea>
    <strong class="text-info" style="font-size: small"></strong>
  </div>
</div>
